{
  "api_key": "<%= @app_api_key -%>",
  "delete_key": "<%= @app_delete_key -%>",
  "maximum_file_size": <%= @app_max_file_size -%>,
  
  "http": {
    <%if app_http_port == '0' -%>
    "enabled": false,
    <% else -%>
    "enabled": true,
    <% end -%>
    "listen": ":<%= @app_http_port %>"
  },

  "https": {
  <% if app_https_port == '0' -%>
  "enabled": false,
  <% else -%>
  "enabled": true,
  <% end -%>
    "listen": ":<%= @app_https_port -%>",
    "cert": "<%= @app_https_cert -%>",
    "key": "<%= @app_https_key -%>"
  },

  "cloudflare-cache-invalidate": {
  <% if cloudflare_token == '' -%>
  "enabled": false,
  <% else -%>
  "enabled": true,
  <% end -%>
    "token": "<%= @cloudflare_token -%>",
    "email": "<%= @cloudflare_email -%>",
    "domain": "<%= @cloudflare_domain -%>"
  }
}